*{
margin: 0;
padding: 0;
}
p{
    font-size: 20px;
    background: #c23737;
    height: 100px; 
}
div{
    font-size: 20px;
    background: #74b93c;
    height: 100px; 
}
.inner{
    background: #3cb9b9;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    padding-left: 25px;
    margin-top: 20px;
}
.inner.one{
    color: aliceblue;
    background: black;/*по приоритету будет применен черный, а не голубой*/
    
}