body {
  text-align: center;
}
.head {
  text-align: center;
}
.gameBlock {
  width: 800px;
  height: 500px;
  border: 2px solid;
  position: relative;
  display: inline-block;
}
.kvadrat {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
}
#time {
  opacity: 30%;
  font-size: 60px;
}
