.phrase{
    color: #ec985c;
    margin: 20px;
}
table, th, td{
    border: 2px solid #3b3bd4;
    border-collapse: collapse;
    text-align: center;
    margin: 25px;
    padding: 10px;
    font-size: 25px;
}
span{
    margin: 10px;
}
.pp{
    background-color: red;
    display: inline-block;
    font-size: large;
    font-weight: bold;
}