.phrase{
    color: #ec985c;
    margin: 20px;
}
table, th, td{
    border: 2px solid #3b3bd4;
    border-collapse: collapse;
    text-align: center;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100px;
}
table {
    width: 60%;
}
span{
    margin: 10px;
}
.pp{
    background-color: rgb(238, 122, 122);
    display: inline-block;
    font-size: large;
    font-weight: bold;
}
.losers{
    background-color: rgb(238, 122, 122);
}
.normal{
    background-color:#fff67d;
}
.successful{
    background-color: #96fca3;
}
img{
    height: 35px;
}
#courseNew,#estimateNew{
    width: 55px;
    text-align: center;
}
#nameNew{
width: 90px;
}